body {
     margin: 0;
    padding: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2rem
}

.sudoku-cell {
    border: 1px solid #000;
    width: 1rem;
    height: 1rem;
    line-height: 2;
    padding: 0.5rem 1rem;
    margin: 0;
    text-align: center;
}

.sudoku-cell.sudoku-border-right {
    border-right: 2px solid #000;
}

.sudoku-cell.sudoku-border-bottom {
    border-bottom: 2px solid #000;
}

.sudoku-cell.selected,
.sudoku-cell.invalid.selected {
    background-color: #bbb;
}

.sudoku-cell.invalid {
    background-color: #faa;
}

.js-predefine-cell {
    font-weight: bold;
}

.sudoku-table {
    border-spacing: 0px;
    border: 3px solid #000;
}

.timer {
    font-size: 3rem;
    margin: 1rem;
}

.win-view {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.9);
    font-size: 3em;
}
