<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sudoku</title>
</head>
<body>
    <div class="js-app app-wrapper">
        <table class="js-table sudoku-table"></table>
        <div class="js-timer timer"></div>
        <div class="win-view-wrapper js-win-view-wrapper"></div>
    </div>
    <script type="text/template" class="js-table-template">
        <% _.each( table, (row, rowIndex) => { %>
            <tr class="sudoku-row">
            <% _.each(row, (cell, cellIndex) => {
                const rightBorderClass =
                    (cellIndex === 2 || cellIndex === 5)
                        ? 'sudoku-border-right'
                        : '';
                const bottomBorderClass =
                    (rowIndex === 2 || rowIndex === 5)
                        ? 'sudoku-border-bottom'
                        : '';
                const validClass = isValid ? '' : 'invalid js-invalid';
                const classList = [
                    rightBorderClass,
                    bottomBorderClass,
                    validClass,
                ].join(' ');
            %>
                <td class="sudoku-cell js-sudoku-cell <%= classList %>"
                    data-row="<%= rowIndex %>"
                    data-column="<%= cellIndex %>"
                    tabIndex="<%= rowIndex*10 + cellIndex + 1 %>">
                    <%= typeof cell === 'number' ? cell : '-' %>
                </td>
            <% }); %>
            </tr>
        <% }); %>
    </script>
    <script type="text/template" class="js-win-view-template">
        <div class="win-view">
            <h2>Congratulation</h2>
            <p>You win in <%= t %> seconds</p>
            <button class="js-again-button">Start again</button>
        </div>
    </script>
    <script src="sudoku.dist.js"></script>
</body>
</html>
